pipeline/pandas/bitstampUSD_1-min_data_2012-01-01_to_2020-04-22.csv
pipeline/pandas/bitstampUSD_1-min_data_2012-01-01_to_2020-04-22.csv:Zone.Identifier
pipeline/pandas/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv
pipeline/pandas/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv:Zone.Identifier